# Node
node_modules/
npm-debug.log

# Environment
backend/.env_production

# Build & dist
dist/
.next/
out/
build/
coverage/

# Docker
*.pid
docker-data/

# Docs
docs/


# Cursor AI metadata
.cursor/

# OS
.DS_Store
Thumbs.db

resume*
resume_extension*
